<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /dukungaul/backend/
    
    # Menghapus index.php dari URL
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^(.*)$ index.php/$1 [L]
</IfModule>
